[v-cloak] {
  display: none;
}
.bg-img1 {
  background-image: url('../img/banner.jpg') ;
  background-repeat:  no-repeat;
  background-position: center center;
  background-size:  cover;
  background-color: #999;
  background-attachment: fixed;
  /*
  */
}
.text-categoria{
  font-size: 50px;
  text-shadow: -3px 3px 6px black;
}
.text-countdown{
  font-size: 45px;
  text-shadow: -3px 3px 6px black;
}
.bg-img2 {
  background-image: url('../img/fondo2.png') ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  /* background-size:  cover; */
  background-color: #999;
}
.is-link{
  background-color: #00395e !important;
  color:white;
}
.tituloB{
  color:#002D4A;
  font-weight: bold;
}
.subtituloB{
  color:#002D4A;
  /* text-transform: capitalize; */
}
.btnVotar{
  width: 100%;
  border-radius: 0;
  height: 100%;
  font-size: 18px;
}
.overme {
  width: 360px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}
