[v-cloak] {
  display: none;
}

[v-cloak] > * { display:none }

[v-cloak]::before { content: "Cargando…" }
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}
.rRuC{
  margin-bottom: 10px;
}
.info-text{
  /* white-space: pre-wrap; */
  background-color: gainsboro;
  padding: 10px;
  font-size: 16px;
}
.bloque{
  border: solid 0.01em #ddd;
  padding: 15px 10px;
}
.tituloR{
  color:#002D4A;
  margin-top: 40px;
}
.background{
  background-image: url(../img/fondo2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
body{
  background-color: white;
}
td{
  font-size: 14px;
  /*font-style: italic;*/
}
th{
  font-size: 14px;
  /*font-style: italic;*/
}
.skin-blue
.main-header .navbar {
  background-color: #002D4A ;
}
.border-data{
  border-top: solid 0.1em #00c0ef9e;
  padding: 5 10px;
  font-size: 14px;
}
.boder-info{
  border-bottom: solid 0.1em #00c0ef9e;
}
.skin-blue .main-header .logo {
  /* padding-top: 10px; */
  background-color: #002d4a;
}
.saof-info{
  color: white;
  text-align: center;
  font-size: large;
}
.skin-blue .wrapper, .skin-blue .left-side {
  background-color: white;
}
.navbar-lgn {
  text-align: center !important;
  font-size: 20px !important;
  padding: 0px 25px !important;
}
.center-table tr th{
  text-align: center;
}
.center-table tr td{
  text-align: center;
}
@media (min-width: 992px){
  .modal-lg-sg{
    width: 90%;
  }
}

.modal-lg-sg{
  width: 90%;
}
.modal-documento{
  height: 75%;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
.skin-blue .wrapper-buap{
  background-color: white;
}
.widget-user .ini-s {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.7);
  text-align: center;
}
.btn-buap {
  background-color: #002d4a!important;
  border-color: #002d4a!important;
  border-radius: 0;
}
.box-widget-buap{
  border: solid 1px #d2d6de;
  background-color: whitesmoke;
}
.box-foot-buap{
  background-color: whitesmoke;
}
.footer-buap {

  background-color: #002d4a;
}

.p-wrapper{
  padding-top: 30px;
}
.sbf-buap{
  height: 30px;
}

.small-box .icon {
  top: 10px;
}

.content {
  min-height: 0px
}
.m-box{
  padding: 0px 30px;
}
.gauge {
  height: 200px;
}
.fa-bcolor{
  color:black;
}
.btn-outline-secondary{
  background-color: transparent;
  padding: 0px 5px;
  margin: 0 auto;
}
.alert-danger-buap{
  background-color: #ce1903 !important;
  color: white;
}
.alert-success-buap{
  background-color: rgba(65, 234, 65, 0.74) !important;
  color:rgb(15, 132, 7);;
}
.alert-warning-buap{
  background-color: rgba(243, 156, 18, 0.91) !important;
  color: white;
}
.alert-info-buap{
  background-color: #002D4A;
  color:white;
  margin-top: 20px;
}
.alert-danger-saof{
  background-color: rgb(210, 27, 27) !important;
  color: white;
}
.label-control{
  height: 40px;
}
.e-sub-m{
  margin-left: 20px !important;
}
.error{
  color: red;
}
.wysiwyg-text-align-left{
  text-align: left;
}

.wysiwyg-text-align-center{
  text-align: center;
}

.wysiwyg-text-align-right{
  text-align: right;
}

/*----------------------------------------------------------------------------*/

.breadcrumb {
  display: flex;
  border-radius: 0px;
  overflow: hidden;
  margin: auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  /*height: 49.4px;*/
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  /*box-shadow: 0 1px 1px black, 0 4px 14px rgba(0, 0, 0, 0.7);*/
  z-index: 1;
  background-color: #002d4a;
  font-size: 14px;
  color:white;
}

.breadcrumb a {
  position: relative;
  display: flex;
  flex-grow: 1;
  text-decoration: none;
  margin: auto;
  height: 100%;
  padding-left: 38px;
  padding-right: 0;
  color: white;
}

.breadcrumb a:first-child {
  padding-left: 15.2px;
}

.breadcrumb a:last-child {
  padding-right: 15.2px;
}

.breadcrumb a:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 57px;
  height: 57px;
  top: 0;
  right: -28.1481481481px;
  background-color: #12a9d4;
  border-top-right-radius: 5px;
  -webkit-transform: scale(0.707) rotate(45deg);
  transform: scale(0.707) rotate(45deg);
  box-shadow: 1px -1px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.breadcrumb a:last-child:after {
  content: none;
}

.breadcrumb__inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 2;
}

.breadcrumb__title {
  font-weight: bold;
  letter-spacing: -0.8px;
}


.breadcrumb a.active, .breadcrumb a:hover {
  background: #12a9d4;
  color: white;
}

.breadcrumb a.active:after, .breadcrumb a:hover:after {
  background: #12a9d4;
  color: white;
}

@media all and (max-width: 1000px) {
  .breadcrumb {
    font-size: 12px;
  }
}
@media all and (max-width: 710px) {
  .breadcrumb__desc {
    display: no
  }
}