.skin-blue .main-header, .navbar{
    color:#4b646f;
    background-color: #002D4A;
}
.skin-blue .main-sidebar .sidebar .user-panel>.image>img{
    width: 100%;
    max-width: 45px;
    height: auto;
}
.skin-blue .main-footer{
    color:#4b646f;
    background-color: #002D4A;
}

.skin-blue .main-header .navbar-nav .nav-item>button, .fa-solid{
    color:#fff;
}

.skin-blue .main-header .navbar-nav>li>a{
    color:#fff;
}
.skin-blue .nav-sidebar > .nav-header{
    color:#4b646f;
    background:#1a2226
}
.skin-blue .sidebar .user-panel>.info{
    color:#fff;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar{
    background-color:#222d32
}
.skin-blue .nav-sidebar > .nav-item > .nav-link.active{
    background:#1e282c;
}
