html,
body {
  height: 100%;
}

body {
  
  align-items: center;
  padding-top: 90px;
  /*
  
  padding-top: 10px;
  padding-bottom: 40px;
  background-color: #f5f5f5;*/
}

.form-signin {
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: #fff;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.fondo {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
  background-image: url('../img/torre-azul.jpg');
  
  background-color: rgb(250, 250, 250);
  background-size: cover;
  
}

.fondologo {color:#fff ;background-image: url('../img/overlay.png'),linear-gradient(45deg, #0F0C3D 20%, #025DB3 60%, #08C4E2);background-size: 128px 128px, auto;}

.contenedorcampo{
  padding: 33px;
}

.colorlogo{
  padding: 20px;
  background-color: #121c46;
  text-align: center;
}

.btn-acceso {
  color: #fff;
  background-color: #121c46;
  border-color: #121c46;
}
.btn-acceso:hover {
  color: #fff;
  background-color: #192c75;
  border-color: #192c75;
}

.titulo{
  color: #fff;
}

#panel-correo{
  margin-top: 20px;
}